.bg-image{
  background-image: url('../../../../public/dashboard.jpg');
  background-size: cover;        /* fill entire screen */
  background-position: center;   /* center image */
  background-repeat: no-repeat;
}

.move-up{
    transform: translateY(-60px);  /* adjust value */
}