.bg-image{
    background-image: url(../../../../public/registration_bg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.bg-image::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
}

.bg-image > * {
  position: relative;
  z-index: 1;
}